<button class="btn btn-{{style}} {{additionalClasses}} btn-flat {{if disableButton ' disabled'}}" {{action 'clickAction'}}>
  {{#if isProcessing}}
    <i class="fa fa-cog fa-spin fa-fw"></i>
    <span class="sr-only">Loading...</span>
  {{else}}
    {{#if labelIcon}}
      {{fa-icon labelIcon}}
    {{/if}}
    {{label}}
  {{/if}}
</button>
{{#modal-dialog
  title=confirmationTitle
  confirmLabel=confirmationButtonLabel
  visible=isConfirming
  confirmAction=onClickAction
}}
  <p>{{confirmationMessage}}</p>
{{/modal-dialog}}
