{{#form-group class=(if feedbackIcon ' has-feedback' '') showErrors=showErrors isValid=isValid}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}

  {{#if (gt rows 1)}}
    {{textarea rows=rows value=value class='form-control' placeholder=placeholder key-down=keyDownAction}}
  {{else}}
    {{input type=type value=value class='form-control' placeholder=placeholder key-down=keyDownAction}}
  {{/if}}

  {{#if feedbackIcon}}
    <span class="glyphicon glyphicon-{{feedbackIcon}} form-control-feedback"></span>
  {{/if}}

  {{yield}}
{{/form-group}}
