{{#content-box}}
  {{#content-box-body}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        {{form-input-text
          value=reset.oldPassword
          isValid=reset.isOldPasswordValid
          showErrors=showErrors
          label='Current Password'
          type='password'
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        {{form-input-text
          value=reset.newPassword
          isValid=(and reset.isNewPasswordValid reset.newPasswordMatchesConfirmation)
          showErrors=showErrors
          label='New Password'
          type='password'
        }}
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">
        {{form-input-text
          value=reset.newPasswordConfirmation
          isValid=(and reset.isNewPasswordConfirmationValid reset.newPasswordMatchesConfirmation)
          showErrors=showErrors
          label='Confirm New Password'
          type='password'
        }}
      </div>
    </div>

    {{form-errors-alert errors=(map-by 'message' reset.errors) showErrors=showErrors}}
  {{/content-box-body}}

  {{#content-box-footer}}
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        {{button-save onClickAction=(action 'save')}}
      </div>

      <div class="col-xs-12 col-sm-3">
        {{button-cancel onClickAction=(action 'cancel')}}
      </div>
    </div>
  {{/content-box-footer}}
{{/content-box}}
